<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>233081599321-l27ll02ad88mv3strqmpuslqnm7ahnlb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.233081599321-l27ll02ad88mv3strqmpuslqnm7ahnlb</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>233081599321-mbs3crt8thfve6j8gmft9jphpr8vm3ds.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyApNgm_lacsq_U20gN4qG2OKkC3hIAHf7s</string>
	<key>GCM_SENDER_ID</key>
	<string>233081599321</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.basestructure</string>
	<key>PROJECT_ID</key>
	<string>baseproject-a29ad</string>
	<key>STORAGE_BUCKET</key>
	<string>baseproject-a29ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:233081599321:ios:5167c41f6a344509504848</string>
</dict>
</plist>